asgiref==3.8.1
Django==4.2
django-dotenv==1.4.2
django-rest-framework==0.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
easy-thumbnails==2.8.5
gunicorn==22.0.0
packaging==24.1
phonenumbers==8.13.38
pillow==10.3.0
psycopg2-binary==2.9.9
PyJWT==2.8.0
sqlparse==0.5.0
backports.zoneinfo;python_version<"3.12"
