<!DOCTYPE html>
{% load widget_tweaks %}
{% load permission_filter %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Post It | Post Detail</title>
  </head>
  <body>

    <div class='w-[100%] min-height-[100vh] flex flex-col justify-center m-auto text-center overflow-x-hidden'>
        <!-- Navigation [start] -->
      <div class="breadcrumbs text-sm p-5">
        <ul>
          <li class=''>
            <a href="{% url 'index' %}">
              <span class='mr-2'>
                «
              </span>
              dashboard
            </a>
          </li>
        </ul>
      </div>
      <!-- Navigation [end] -->

      <form method='post' class='overflow-hidden'>
        {% csrf_token %}

        <!-- New  -->
        <div class="card bg-base-100 w-[100%] shadow-xl overflow-x-hidden">
          {% for error in field.errors %}
            <span class='help-block'>{{ error }}</span>
          {% endfor %}

          <div class='w-100% h-auto ml-auto mr-auto flex justify-center'>
            {% if post.image %}
              <figure class='px-4 pt-10 h-auto relative'>
                <div class='bg-red-500 flex absolute top-0 right-0 p-1 rounded-lg mr-5'>
                  <div>
                    <a href="{% url 'jobposts:update_jobpost' pk=post.pk %}" class='w-full'>Edit</a>
                  </div>
                </div>
                <img
                  src="{{ post.image.url }}"
                  alt="{{ post.creator}}"
                  class='rounded-xl'
                />
              </figure>
            {% else %}
              <figure class='w-[30vw] h-[22vh] md:w-[10vw] bg-gray-300 rounded-xl'>
              </figure>
            {% endif %}
          </div>

          <div class='w-auto md:flex md:m-auto'>
            <div class="card-body items-start text-left md:w-full">
              <h2 class="card-title">{{ post.creator }}</h2>
              <p>{{ post.title }}</p>
              <p>{{ post.description }}</p>
              <div class="badge badge-primary">{{ post.created_at }}</div>
              <div>
                {% if references %}
                  {% for r in references %}
                    {% if user|check_reference_jobpost_creator:post %}
                      <div class='flex flex-row justify-between align-middle gap-4'>
                        <p class='text-sm text-black'><strong>Reference:</strong></p>
                        <p class='text-sm text-black'>{{ r.name }}</p>
                        <p class='text-sm text-black'>{{ r.number }}</p>
                      </div>
                    {% else %}
                      <p class='text-sm text-black'>No references have been added</p>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {% if references == 0 %}
                  <p class='text-sm text-black'>No references have been added</p>
                {% endif %}

              </div>
              <div class="card-actions w-full">
                <button class="btn btn-primary w-full">Contact Now</button>
              </div>
              {% if user|is_post_author:post %}
                <button class="btn btn-error w-full">
                  <a href="{% url 'jobposts:delete_jobpost' pk=post.pk %}" class='w-full'>Delete</a>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
        <!--  -->
        <div>
        </div>
      </form>
    </div>
  </body>
</html>