<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostIt.com</title>
</head>
<body style='margin: 0; padding: 0;'>
    <div style='display: flex; flex-direction: column; padding: 0; gap: 2rem;'>
        <div style='display: flex; flex-direction: row; justify-content: space-between; background-color: cadetblue; '>
            <nav style="background-color: cadetblue; color: white; margin: 0; padding: 4px;">
                <h1 style='margin: 0; padding-left: 12px;'>PostIt</h1> 
             </nav>
             <div style='padding: 8px;'>
                <a href='{% url "logout" %}' style='text-decoration: none; color: white;'>
                    <a style="list-style: none; text-decoration: none; color: white;">
                        Log Out
                    </a>
                </a>
             </div>
        </div>
 
        <div style='padding: 8px;'>
            <span style='background-color: red; color: black; color: white; padding: 4px; border-radius: 8px; width: 10vw;'>
                <a href='{% url "jobposts:create_jobpost"%}' style="text-decoration: none; color: white;">Create Job Post</a>
            </span>
        </div>
    </div>
    
    <!-- JOB POSTINGS BOARD [START] -->
    <div style='display: flex; flex-direction: row; flex-wrap: wrap; padding: 12px; gap: 2.2rem;'>
        {% for post in posts %}
        <div style='position: relative;;padding: 8px; border: 1px solid black; display: flex; flex-direction: column; width: 40%; border-radius: 12px;'>

                <div style='display: flex; justify-content: end; width: auto; padding: 4px;'>
                    <button>
                        <a href='{% url "jobposts:detail_jobpost" pk=post.pk %}' style="text-decoration: none; color: black;">View</a>    
                    </button>
                </div>    

            <h1>{{ post.author }}</h1>
            <h2>{{ post.title }}</h2>
            <p>{{ post.description }}</p>
            <span>{{ post.created_at }}</span>
        </div>
        {% endfor %}
    </div>
    <!-- JOB POSTINGS BOARD [END] -->
</body>
</html>