<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Post It | Log In</title>
    </head>

<!-- Parent Container -->
    <div class='flex flex-col justify-center h-auto w-[100%] font-sans md:flex-row'>

    <!-- Left side [start] -->
        <div class='bg-[#18181B] p-[1em] md:pr-[3.2rem] md:w-[9vw]'>
            <h2 class='text-white font-medium pt-2 inline-block md:inline-block md:text-[1.1rem]'>Post It</h2>
        </div>
    <!-- Left side [end]  -->

    <!-- Right side [start] -->
        <div class='bg-[#FFFFFF] w-full'>
            <div style='display:flex; flex-direction: column; justify-content: center; margin: 0 auto; min-height: 100vh;'>
                <div style='width: 100%; height: 100%; display: flex; justify-content: center; margin: 0 auto; text-align: center;'>
                    <form method='post' action="{% url 'login' %}">
                        {% csrf_token %}
                        <p>{{ form.errors }}</p>
                        <h2 class='text-[#09090B] text-[2.4rem] font-bold mb-1'>Log In</h2>
                        <p class='text-[#71717A] mb-1'>Enter your information to to log in</p>
                        <div class='w-full gap-[3em] mb-[1em] p-2'>

                            <label class="input input-bordered flex items-center gap-2 mb-3">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 16 16"
                                    fill="currentColor"
                                    class="h-4 w-4 opacity-70">
                                    <path
                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                                </svg>
                                <input type="text" id='username' name='username' class="grow" placeholder="Enter your username" />
                            </label>
                            <label class="input input-bordered flex items-center gap-2">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 16 16"
                                    fill="currentColor"
                                    class="h-4 w-4 opacity-70">
                                    <path
                                        fill-rule="evenodd"
                                        d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <input type="password" id="password" name="password" class="grow" placeholder="Enter your password" />
                            </label>
                            <div class='w-full flex justify-end p-2'>
                                <a href="{% url 'accounts:reset_password' %}" class='no-underline text-[#59595E] text-[.8rem]'>Forgot password?</a>
                            </div>
                        </div>

                        <button type='submit' class='h-[36px] w-full m-auto flex justify-center align-middle bg-[#09090B] text-white rounded-md mb-4 pt-1'>
                            Log In
                        </button>
                    </form>
                </div>
                <div style='display: flex; flex-direction: row; align-items: center; gap: 0.5em; margin: 0 auto;'>
                    <p style='color: #71717A;'>Don't have an account?</p>
                    <a href="{% url 'register' %}" style='text-decoration: none; color: #39393e'>Register</a>
                </div>
            </div>
        </div>
    <!-- Right side [end] -->

    </div>
<!-- Parent container [end]  -->

</html>