<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <form method='post' action="{% url 'login' %}">
        {% csrf_token %}
        <p>{{ form.errors }}</p>
        <h1>Log In</h1>
        <input type='text' id='username' name='username' placeholder='Enter your username' />
        <input type='password' id='password' name='password' placeholder='Enter your password' />

        <button type='submit'>Log In</button>
    </form>
    <div>
        <p>Don't have an account?</p><a href="{% url 'register' %}">Register</a>
    </div>    
</body>
</html>