<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<title>Register</title>
<body>
    <form method='post' action="{% url 'register' %}">
        {% csrf_token %}
        <p>{{ form.errors }}</p>
        <h1>Register</h1>
        <input type='text' id='username' name='username' placeholder='Enter your username' />
        <input type='email' id='email' name='email' placeholder='Enter your email' />
        <input type='password' id='password1' name='password1' placeholder='Enter your password' />
        <input type='password' id='password2' name='password2' placeholder='Confirm your password' />

        <button type='submit'>Register</button>
    </form>
    <div>
        <p>Have an account?</p><a href="{% url 'login' %}">Login</a>
    </div>      
</body>
</html>