<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Job Post</title>
    </head>
    <body>
        <h1>Edit: {{ post.title }}</h1>
        <form method='post'>
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class='form-group'>
                    <label for='{{field.id_for_label}}'>{{ field.label }}</label>
                    {{ field|add_class:'form_control' }}
                    {% for error in field.errors %}
                        <span class='help-block'>{{error}}</span>
                    {% endfor %}
            {% endfor %}
        </div>
        <input type="submit" value="Confirm">
        <a href="{% url 'index' %}">Cancel</a>
    </form>
</body>
</html>