<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Post It | Edit Post</title>
    </head>
    <body>
        <form method='post' class='w-auto h-[100vh] flex justify-center align-middle m-auto p-1'>
            <div class="card bg-base-100 w-95 shadow-xl mt-auto mb-auto">
                <div class="card-body">
                    <h1 class="card-title">Edit Post</h1>
                    <p class='mb-2 text-gray-400'>Click on the fields to edit values</p>
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class='form-group'>
                            <label for='{{field.id_for_label}}'>{{ field.label }}</label>
                            {{ field|add_class:'form_control' }}
                            {% for error in field.errors %}
                                <span class='help-block'>{{error}}</span>
                            {% endfor %}
                    {% endfor %}
                </div>
                <div class="card-actions justify-start mt-4">
                    <a class="btn btn-ghost" href="{% url 'jobposts:detail_jobpost' pk=post.pk %}">Cancel</a>
                    <button class="btn bg-[#18181B] text-white" type="submit">Update</button>
                </div>
            </div>

        </div>
    </form>
</body>
</html>